/.venv/
/venv/
/venv_external/
/.vscode/
# Local debug scripts etc
Notebooks_and_scripts/
Notebooks/
.env
.idea/
/build/
/dist/
/src/fmu_pem.egg-info/
**/__pycache__/
**/*_cache/
/.idea/
/.vscode/
src/fmu/pem/version.py

# npm and node relevant build files
node_modules
dist

# Documentation:
fmu-pem-schema.json
**/.vitepress/dist
**/.vitepress/cache
/ERT/storage/
/ERT/logs/
/ERT/.runpath_list
/logs/
/tests/data/sim2seis/input/pem/venv_ext/
scripts/debug_lines.py
