name: on-release # TODO: update filename to "on-release.yaml", requires updating configuration in PyPI (it only allows release from an exact workflow filepath)

on:
  release:
    types:
      - published

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  build:
    name: Build Package
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: pip

      - name: Install Dependencies
        run: pip install -e .[tests]

      - name: Build Package
        run: |
          pip install build
          export SETUPTOOLS_SCM_PRETEND_VERSION_FOR_FMU_PEM=$GITHUB_REF_NAME
          python -m build

      - name: Upload Package Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Python dist
          path: dist/

  deploy:
    name: Publish Package to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fmu-pem
    permissions:
      id-token: write # required for Trusted Publishing to PyPI

    steps:
      - name: Download Package Artifact
        uses: actions/download-artifact@v4
        with:
          name: Python dist
          path: dist/

      - name: Publish Package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
